/*
This CSS is set to augment the PureCSS framework found at PureCSS.io
Please make every effort to use the tools that PureCSS already
provides to us. Modifying this document should be reserved for
theming our web site.
*/


/*////////////////////////////////////////////
//                                          //
//                  Resets                  //
//                                          //
////////////////////////////////////////////*/

ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
  text-shadow: none;
  /* Text shadow had to go or be edited to
    look better on the .highlight sections */
}

section .pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* These divs need to act as a border-box
      else they don't take the padding correctly
      and get sqeezed together */
    padding: 5em;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
}

section .pure-g > div .bio {
  text-align: left;
  width: 75%;
  margin: 0 auto;
}

.l-box {
  padding: 1em;
}

/*////////////////////////////////////////////
//                                          //
//                  Global                  //
//                                          //
////////////////////////////////////////////*/

body {
  background-color: #f3f3f3;
}

h1 {
  color: #f3f3f3;
  font-size: 5em;
  font-weight: 400;
  margin-bottom: none;
  line-height: initial; /* Shortens line-height */
  margin-left: 1%; /* Off-set from left-side of page */
}

h2 {
  font-size: 5em;
  font-weight: 200;
  padding-top: 1em;
  margin: 0 auto .5em;
}

.email {
  color: #4c637b;
  text-decoration: none;
  margin: 1em auto;
  display: block;
}


/* ----------->>> Highlights <<<------------*/


.highlight {
  background-color: #44555c;
  color: #f3f3f3;
}

.highlight .email {
  color: #afb8bc;
  /* Makes the email address stand out
    better on the darker background */
}


/* ------------->>> Extras <<<--------------*/


a:hover {
  color: #B8C60F !important;
  /* CSS is silly and makes the .highlight .email {}
    section override this, as it is a more specific
    selector. Adding !important to override. */
}
::-moz-selection {
  background: #ff7400; /* Gecko Browsers */
  color: #F3F3F3;
}
::selection {
  background: #ff7400; /* WebKit/Blink Browsers */
  color: #F3F3F3;
}

/*////////////////////////////////////////////
//                                          //
//                  Header                  //
//                                          //
////////////////////////////////////////////*/

header {
  background-color: #50677d;
  text-align: left;
}

/*////////////////////////////////////////////
//                                          //
//                Page Layout               //
//                                          //
////////////////////////////////////////////*/



/*////////////////////////////////////////////
//                                          //
//                  Footer                  //
//                                          //
////////////////////////////////////////////*/

footer {
  background-color: #041218;
  color: #f3f3f3;
  vertical-align: center;
  font-size: .75em;
}

.social, .corporate {
  padding-top: 1%;
}

.social img, .corporate img {
  padding-left: .1em;
  padding-right: .1em;
}

.copyright {
  text-align: left;
}

.copyright p {
  padding-left: 5em;
}

.sitemap {
  text-align: right;
}

.sitemap p, .sitemap a {
  padding-right: 5em;
}

.sitemap a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

/*////////////////////////////////////////////
//                                          //
//               Page Specific              //
//                                          //
////////////////////////////////////////////*/

/* ----------->>> Exec Board <<<------------*/

.headshot {
  width: 75%;
  max-width: 15em;
  margin-left: auto;
  margin-right: auto;
}

.committee {
  color: #ff7400;
  text-decoration: none;
}
