/*
* This CSS file is for styling specific to IEEE UIUC's
* website at ieee.illinois.edu.
*
* Authors: Anit Gandhi, Caleb Albers
* Last Modified: April 19, 2015
*/

/*////////////////////////////////////////////
//                                          //
//                  Global                  //
//                                          //
////////////////////////////////////////////*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #f3f3f3;
	color: rgb(68, 85, 92);
}

section .pure-g > div {
	padding: 1.5% 3%;
}

/* ------------->>> Scrollbar <<<--------------*/

::-webkit-scrollbar
{
	width: 12px;
	height: 12px;
	background:transparent;
}

::-webkit-scrollbar-track
{
	background: rgb(243,243,243);
}

::-webkit-scrollbar-thumb
{
	background: rgb(255, 116, 0);
}

/* ----------->>> Text Decoration <<<------------*/

/* The entire website should have the Raleway font, 
*   but fall back to just sans-serif. 
*/
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	  src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2'), url(http://fonts.gstatic.com/s/raleway/v9/IczWvq5y_Cwwv_rBjOtT0w.woff) format('woff');
}

* {
	font-family: 'Raleway', sans-serif;
}

/* Text Selection should be orange */
::-moz-selection {
	background: #ff7400; /* Gecko Browsers */
	color: #F3F3F3;
}
::selection {
	background: #ff7400; /* WebKit/Blink Browsers */
	color: #F3F3F3;
}

/* ----------->>> Text Sizes <<<------------*/

/* h1 is to be used for the title of the page */
h1 {
	color: #f3f3f3;
	font-size: 7em;
	font-weight: 400;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* h2 is to be used for sub-headings */
h2 {
	font-size: 4em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}

p {
	font-size: 1.25em;
	text-align: justify;
}

h2, h3, h4, p {
	font-weight: 400;
	margin: 0;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

a {
	color: rgb(255, 116, 0);

	/* This disables that annoying fill on mobile links */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  	-webkit-tap-highlight-color: transparent;
}

.is-center {
	text-align: center;
}

.orange-text {
	color: rgb(255, 116, 0);
}

.grey-text {
	color:rgb(68, 85, 92);
}

/* ----------->>> Highlight Section <<<------------*/

.highlight {
	background-color: #44555c;
	color: #f3f3f3;
}

/* ----------->>> Buttons <<<------------*/

/* Custom button styles that override PureCSS styles */
.pure-button {
	background-color: rgb(255, 116, 0);
	color: rgb(243,243,243);
	padding: 0.5em 2em;
	border-radius: 5px;
	margin: 0.5em;
}

.pure-button-md {
	font-size: 1.25em;
}

.pure-button-lg {
	font-size: 2.5em;
}

/* ----------->>> Padding Boxes <<<------------*/

.l-box {
	padding: 1em;
}

.l-box-lrg {
    padding: 2em;
}

/*////////////////////////////////////////////
//                                          //
//                Page Layout               //
//                                          //
////////////////////////////////////////////*/

/* ----------->>> Main Image and Page Title <<<------------*/

/* Splash Image wrapper for scrollover effect */
.splash-container {
	z-index: 1;
	overflow: hidden;

	width: 100%;
	height: 50%;
	top: 0;
	left: 0;
	position: fixed !important;

	/* Blue filter over image */
	background-image:linear-gradient(
		rgba(20, 54, 70, 0.60),
		rgba(20, 54, 70, 0.60)
	),url('/common/img/splash/eceb.jpg');
	background-repeat: no-repeat;
	background-position: center center, center center;
	background-size: cover, cover;
}

.splash {
	/* absolute center .splash within .splash-container */
	width: 100%;
	height: 50%;
	margin: auto;
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	text-align: center;
}

/* News Slider */
.splash-head {
	margin: auto;
	color: rgb(243, 243, 243);
	border: 2px solid rgb(243, 243, 243);
	border-radius: 10px;
	height: 50vh;
	background-color: transparent;
}

/* Make the flex slider buttons more visible */
.flex-direction-nav a:before,
.flex-direction-nav a.flex-prev:before,
.flex-direction-nav a,
.flex-control-paging li a, 
.flex-control-paging li a.flex-active {
	z-index: 5000;
	color: rgb(243,243,243);
}

/* ----------->>> Main Content <<<------------*/

/* Wrapper for main content, has scrollover effect */
.content-wrapper {
	position: absolute;
	top: 50%;
	width: 100%;
	min-height: 12%;
	z-index: 2;
	background: rgb(243,243,243);
}

/* 6.2 is calculated by the aspect ratio of the hill */
.hill {
	margin: 0;
	padding: 0;
	margin-bottom: -6.15vw;

	-webkit-transform: translateY(-6.15vw);
	-moz-transform: translateY(-6.15vw);
	-ms-transform: translateY(-6.15vw);
	transform: translateY(-6.15vw);
}

/* lightbulb img version
.footer-ribbon {
		background:url('/common/img/footer.png'), rgb(68, 85, 92);
		background-repeat: no-repeat;
		background-position: 40% center, center center;
		background-size: contain, cover;
}
*/

/*////////////////////////////////////////////
//                                          //
//              Header/Navbar               //
//                                          //
////////////////////////////////////////////*/

.custom-wrapper {
	background-color: transparent;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	width: 100%;

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.custom-wrapper.open {
	background-color: rgb(20, 54, 70);
	height: 28em;
}

/* Mobile menu fix */
.ieee-menu-item {
	height: auto;
}

.custom-menu-3 {
	padding: 0 1vh;
	width: 100%;

	/* Match the transform animation with the rest */
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;

	text-align: right;
}

.custom-toggle {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 3vh;
	right: 0;
	display: none;
}

.custom-toggle .bar {
	background-color: rgb(255,116,0);
	display: block;
	width: 50px;
	height: 5px;
	border-radius: 50px;
	position: absolute;
	top: 18px;
	right: 7px;

	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.custom-toggle .bar:first-child {
	-o-transform: translateY(-12px);
	-webkit-transform: translateY(-12px);
	-moz-transform: translateY(-12px);
	-ms-transform: translateY(-12px);
	transform: translateY(-12px);
}

.custom-toggle.x .bar {
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.logo {
	max-height: 85px;

	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.small-logo {
	max-height: 50px;
}

.solid-nav {
	background-color: rgb(20, 54, 70);
}

.navbar-link {
	font-size: 1.5em;
	color: rgb(243, 243, 243);
	padding-bottom: 0.5vh;
	padding-left: 0.75vw;
	padding-right: 0.75vw;
}

.navbar-link:hover,
.navbar-link:focus {
	background-color: rgba(255,116,0,0.3)!important;
}

.navbar-link-active{
	color: rgb(255,116,0);
}

.navbar-active {
	border: 0;
	color: rgb(255,116,0);
	background-color: rgb(255,116,0)!important;
	height: 0.3vh;
	text-align: center;
	margin: 0 auto;
}

.flex-nav {
	display: -ms-inline-flexbox;
	display: -moz-inline-flex;
	display: -webkit-inline-flex;
	display: inline-flex;

	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
  	align-items: center;
}

/*////////////////////////////////////////////
//                                          //
//                  Footer                  //
//                                          //
////////////////////////////////////////////*/

footer {
	background-color: rgb(20, 54, 70);
	color: #f3f3f3;

	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
  	align-items: center;
}

.footer-content {
	padding: 1em;

	display: -ms-inline-flexbox;
	display: -moz-inline-flex;
	display: -webkit-inline-flex;
	display: inline-flex;
	
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
  	align-items: center;
}

.footer-content * {
	margin: auto;
}

.footer-logo {
	height: 48px;
}

/*////////////////////////////////////////////
//                                          //
//               Page Specific              //
//                                          //
////////////////////////////////////////////*/

/* ----------->>> Exec Board <<<------------*/

.headshot {
	width: 75%;
	max-width: 15em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
}

#twitter-wrapper iframe
{
	pointer-events: none;
	overflow: scroll;
}

/*////////////////////////////////////////////
//                                          //
//               Media Queries              //
//                                          //
////////////////////////////////////////////*/

/*
Note that I'm applying custom styles to mobile, meaning
the default for me is Tablet/Desktop. This is in contrast to
the PureCSS framework being mobile-first. In future changes,
you are welcome to flip this around to make it consistent.
*/

/* Tablet/Desktop Specific */
@media (min-width: 48em)
{
	/*Force the file input to fit on desktops */
	input[type="file"] {
		width: 50%;
	}

	.splash-head 
	{
		width: 50%;
		overflow: hidden;
		position: relative;
		top: 50%;
		-ms-transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    transform: translateY(-50%);
	}

	.navbar-link {
		padding: 0 0.75vw;
	}

}

/* Mobile Specific */
@media (max-width: 47.999em)
{

	/* Make fonts smaller on mobile
	/* h1 is to be used for the title of the page */
	h1 {
		font-size: 4em;
	}

	/* h2 is to be used for sub-headings */
	h2 {
		font-size: 2.5em;
	}

	h3 {
		font-size: 1.5em;
	}

	h4 {
		font-size: 1.25em;
	}

	p {
		font-size: 1em;
	}

	.custom-wrapper {
		height: 4em;
	}

	.custom-toggle {
		display: inline;
	}

	.custom-menu-3 {
		text-align: left;

		-o-transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		transform: none;
	}

	.logo {
		max-height: 50px;
	}

	.splash-head {
		-o-transform: translateY(-25%);
		-ms-transform: translateY(-25%);
	    -webkit-transform: translateY(-25%);
	    -moz-transform: translateY(-25%);
	    transform: translateY(-25%);
	}

	.pure-hidden {
		display: none;
	}

	.footer-logo {
		height: 32px;
	}

	input[type="text"] {
		width: 100%;
	}

}
