/*
* This CSS file is for styling specific to IEEE UIUC's
* website at ieee.illinois.edu.
*
* Authors: Anit Gandhi, Caleb Albers
* Last Modified: April 14, 2015
*/

/*////////////////////////////////////////////
//                                          //
//                  Resets                  //
//                                          //
////////////////////////////////////////////*/

ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
	text-shadow: none;
	/* Text shadow had to go or be edited to
		look better on the .highlight sections */
}

section .pure-g > div {
	padding: 5em;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 0;
}

/*////////////////////////////////////////////
//                                          //
//                  Global                  //
//                                          //
////////////////////////////////////////////*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #f3f3f3;
	color: rgb(68, 85, 92);
}

/* ------------->>> Scrollbar <<<--------------*/

::-webkit-scrollbar
{
	width: 12px;  /* for vertical scrollbars */
	height: 12px; /* for horizontal scrollbars */
	background:transparent;
}

::-webkit-scrollbar-track
{
	background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb
{
	background: rgba(255, 116, 0, 1);
}

/*////////////////////////////////////////////
//                                          //
//                 Text/Fonts               //
//                                          //
////////////////////////////////////////////*/


/* ----------->>> Fonts <<<------------*/

/* The entire website should have the Raleway font */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* But fall back to other fonts in case it doesn't work */
* {
	font-family: Raleway, Arial, Helvetica, sans-serif;
}

/* ------------->>> Text Selection <<<--------------*/

::-moz-selection {
	background: #ff7400; /* Gecko Browsers */
	color: #F3F3F3;
}
::selection {
	background: #ff7400; /* WebKit/Blink Browsers */
	color: #F3F3F3;
}

/* ----------->>> Text Sizes <<<------------*/

/* h1 is to be used for the title of the page */
h1 {
	color: #f3f3f3;
	font-size: 7em;
	font-weight: 400;
}

/* h2 is to be used for sub-headings */
h2 {
	font-size: 4em;
	font-weight: 200;
	padding-top: 1em;
	margin: 0 auto .5em;
}

h3 {
	font-size: 2em;
	font-weight: 200;
}

h4 {
	font-size: 1.5em;
	font-weight: 200;
}

p {
	font-size: 1.5em;
}

a {
	color: rgb(255, 116, 0);
	text-decoration: none;
}

.is-center {
	text-align: center;
}

.orange-text {
	color: rgb(255, 116, 0);
}

.grey-text {
	color:rgb(68, 85, 92);
}

/* ----------->>> Highlight Section <<<------------*/

.highlight {
	background-color: #44555c;
	color: #f3f3f3;
}

/* ----------->>> Buttons <<<------------*/

/* Custom button styles that override PureCSS styles */
.pure-button {
	background-color: rgb(255, 116, 0);
	color: rgb(243,243,243);
	padding: 0.5em 2em;
	border-radius: 5px;
	margin: 0.5em;
}

.pure-button-md {
	font-size: 1.5em;
}

.pure-button-lg {
	font-size: 3em;
}

/* ----------->>> Padding Boxes <<<------------*/

.l-box {
	padding: 1em;
	padding: 5em;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 0;
}

.l-box-lrg {
    padding: 2em;
}

/*////////////////////////////////////////////
//                                          //
//                Page Layout               //
//                                          //
////////////////////////////////////////////*/

/* ----------->>> Main Image and Page Title <<<------------*/

/* Splash Image wrapper for scrollover effect */
.splash-container {
	z-index: 1;
	overflow: hidden;

	width: 100%;
	height: 50%;
	top: 0;
	left: 0;
	position: fixed !important;

	/* Blue filter over image */
	background-image:linear-gradient(
		rgba(20, 54, 70, 0.60),
		rgba(20, 54, 70, 0.60)
	),url('/common/img/splash/eceb.jpg');
	background-repeat: no-repeat;
	background-position: center center, center center;
	background-size: cover, cover;
}

.splash {
	/* absolute center .splash within .splash-container */
	width: 50%;
	height: 50%;
	margin: auto;
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	text-align: center;
}

/* News Slider */
.splash-head {
	font-size: 4em;
	color: rgb(243, 243, 243);
	border: 2px solid rgb(243, 243, 243);
	border-radius: 10px;
	height: 50vh;
	margin-top: 5%;
	overflow: hidden;

}

/* ----------->>> Main Content <<<------------*/

/* Wrapper for main content, has scrollover effect */
.content-wrapper {
	position: absolute;
	top: 50%;
	width: 100%;
	min-height: 12%;
	z-index: 2;
	background: rgb(243,243,243);
}

/* 6.2 is calculated by the aspect ratio of the hill */
.hill {
	margin: 0;
	padding: 0;
	margin-bottom: -6.15vw;

	-webkit-transform: translateY(-6.15vw);
	-moz-transform: translateY(-6.15vw);
	-ms-transform: translateY(-6.15vw);
	transform: translateY(-6.15vw);
}

/* lightbulb img version
.footer-ribbon {
		background:url('/common/img/footer.png'), rgb(68, 85, 92);
		background-repeat: no-repeat;
		background-position: 40% center, center center;
		background-size: contain, cover;
}
*/

/*////////////////////////////////////////////
//                                          //
//              Header/Navbar               //
//                                          //
////////////////////////////////////////////*/

.custom-wrapper {
	background-color: rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	width: 100%;

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.custom-wrapper.open {
	background-color: rgba(20, 54, 70, 1);
	height: 28em;
}

/* Mobile menu fix */
.ieee-menu-item {
	height: auto;
}

.custom-menu-3 {
	padding: 0 1vh;

	/* Hack for vertically (visually) centering it */
	-webkit-transform: translateY(55%);
	-moz-transform: translateY(55%);
	-ms-transform: translateY(55%);
	transform: translateY(55%);

	/* Match the transform animation with the rest */
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;

	text-align: right;
}

.custom-toggle {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 3vh;
	right: 0;
	display: none;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
  	-webkit-tap-highlight-color: transparent;
}

.custom-toggle .bar {
	background-color: rgb(255,116,0);
	display: block;
	width: 50px;
	height: 5px;
	border-radius: 50px;
	position: absolute;
	top: 18px;
	right: 7px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.custom-toggle .bar:first-child {
	-webkit-transform: translateY(-12px);
	-moz-transform: translateY(-12px);
	-ms-transform: translateY(-12px);
	transform: translateY(-12px);
}

.custom-toggle.x .bar {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.logo {
	max-height: 85px;

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.small-logo {
	max-height: 50px;
}

.solid-nav {
	background-color: rgba(20, 54, 70, 1);
}

.navbar-link {
	font-size: 1.5em;
	color: rgba(255, 255, 255, 1);
	padding-bottom: 0.5vh;
	padding-left: 0.75vw;
	padding-right: 0.75vw;
}

.navbar-link:hover,
.navbar-link:focus {
	background-color: rgba(255,116,0,0.3)!important;
}

.navbar-link-active{
	color: rgb(255,116,0);
}

.navbar-active {
	border: 0;
	color: rgba(255,116,0,1);
	background-color: rgba(255,116,0,1)!important;
	height: 0.3vh;
	text-align: center;
	margin: 0 auto;
}

/*////////////////////////////////////////////
//                                          //
//                  Footer                  //
//                                          //
////////////////////////////////////////////*/

footer {
	background-color: rgb(20, 54, 70);
	color: #f3f3f3;
}

.footer-content {
	padding: 1em;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
}

.footer-content * {
	margin: auto;
}

.footer-logo {
	height: 48px;
}

/*////////////////////////////////////////////
//                                          //
//               Page Specific              //
//                                          //
////////////////////////////////////////////*/

/* ----------->>> Exec Board <<<------------*/

.headshot {
	width: 75%;
	max-width: 15em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
}

/*////////////////////////////////////////////
//                                          //
//               Media Queries              //
//                                          //
////////////////////////////////////////////*/

/*
Note that I'm applying custom styles to mobile, meaning
the default for me is Tablet/Desktop. This is in contrast to
the PureCSS framework being mobile-first. In future changes,
you are welcome to flip this around to make it consistent.
*/

/* Tablet/Desktop Specific */
@media (min-width: 48em)
{

}

/* Mobile Specific */
@media (max-width: 47.999em)
{

	/* Make fonts smaller on mobile
	/* h1 is to be used for the title of the page */
	h1 {
		font-size: 4em;
	}

	/* h2 is to be used for sub-headings */
	h2 {
		font-size: 2.5em;
	}

	h3 {
		font-size: 1.5em;
	}

	.custom-wrapper {
		height: 5em;
	}

	.custom-toggle {
		display: inline;
	}

	.custom-menu-3 {
		text-align: left;

		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		transform: none;
	}

	.logo {
		max-height: 50px;
	}

	.splash {
		width: 90%;
		height: 50%;
	}

	.splash-head {
		font-size: 2em;
	}

	.pure-hidden {
		display: none;
	}

	.footer-logo {
		height: 32px;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
  		-webkit-tap-highlight-color: transparent;
	}

}
