/*
* This CSS file is for styling specific to IEEE UIUC's
* website at ieee.illinois.edu.
*
* Authors: Anit Gandhi, Caleb Albers
* Last Modified: April 19, 2015
*/

/*////////////////////////////////////////////
//                                          //
//                  Global                  //
//                                          //
////////////////////////////////////////////*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: rgb(243,243,243);
	color: rgb(68, 85, 92);
}

section .pure-g > div {
	padding: 2vh 2vw;
	align-content: center;
   	justify-content: center;
}

.pure-hidden {
	display: none;
}

/* ------------->>> Scrollbar <<<--------------*/

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	background:transparent;
}

::-webkit-scrollbar-track {
	background: rgb(243,243,243);
}

::-webkit-scrollbar-thumb {
	background: rgb(255, 116, 0);
}

/* ----------->>> Text Decoration <<<------------*/

/* The entire website should have the Open Sans font, but fall back to just sans-serif. */

* {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

/* Text Selection should be orange */
::-moz-selection {
	background: rgb(255, 116, 0); /* Gecko Browsers */
	color: rgb(243, 243, 243);
}

::selection {
	background: rgb(255, 116, 0); /* WebKit/Blink Browsers */
	color: rgb(243, 243, 243);
}

/* ----------->>> Text Sizes <<<------------*/

/* h1 is to be used for the title of the page */
h1 {
	color: rgb(243, 243, 243);
	font-size: 7rem;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* h2 is to be used for sub-headings */
h2 {
	font-size: 4rem;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	text-align: center;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

p, a, ul, li {
	font-size: 1em;
}

h2, h3, h4, p {
	margin: 0;
}

h3, h4, p {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

a {
	color: rgb(255, 116, 0);
}

.left-align	{
	text-align: left;
}

.center-align {
	text-align: center;
}

.right-align {
	text-align: right;
}

.orange-text {
	color: rgb(255, 116, 0);
}

.grey-text {
	color:rgb(68, 85, 92);
}

/* ----------->>> Highlight Section <<<------------*/

.highlight {
	background-color: rgb(68, 85, 92);
	color: rgb(243, 243, 243);
	padding-bottom: 0.5em;
}

/* ----------->>> Buttons <<<------------*/

/* Custom button styles that override PureCSS styles */
.pure-button {
	background-color: rgb(255, 116, 0);
	color: rgb(243,243,243);
	padding: 0.5em 2em;
	border-radius: 5px;
	margin: 0.5em;
	text-align: center;
	width: 90%;
}

.pure-button-md {
	font-size: 1.25em;
}

.pure-button-lg {
	font-size: 2.5em;
}

/* ----------->>> Padding Boxes <<<------------*/

.l-box {
	padding: 1em;
}

.l-box-lrg {
    padding: 2em;
}

/*////////////////////////////////////////////
//                                          //
//                Page Layout               //
//                                          //
////////////////////////////////////////////*/

/* ----------->>> Main Image and Page Title <<<------------*/

/* Splash Image wrapper for scrollover effect */
.splash-wrapper {
	z-index: 1;
	overflow: hidden;

	width: 100%;
	height: 50%;
	top: 0;
	left: 0;
	position: fixed !important;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.splash-wrapper::before {
	content: "";

	width: 100%;
	height: 100%;
	position: fixed !important;

	/* Blue filter over image */
	background-image: linear-gradient(
		rgba(20, 54, 70, 0.60),
		rgba(20, 54, 70, 0.60)
	);
}

.splash {
	/* absolute center .splash within .splash-wrapper */
	width: 100%;

	/* attempt at vertical center */
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

	/*
	height: 50%;
	margin: auto;
	position: absolute;
	top: 100px;
	*/

	left: 0;
	right: 0;
	text-align: center;
}

/* News Slider */
.splash-head {
	margin: auto;
	width: 50%;
	color: rgb(243, 243, 243);
	border: 2px solid rgb(243, 243, 243);
	border-radius: 10px;
	height: 50vh;
	background-color: transparent;
	overflow: hidden;
}

/* Make the flex slider buttons more visible */
.flex-direction-nav a:before,
.flex-direction-nav a.flex-prev:before,
.flex-direction-nav a,
.flex-control-paging li a,
.flex-control-paging li a.flex-active {
	z-index: 5000;
	color: rgb(243,243,243);
}

/* ----------->>> Main Content <<<------------*/

/* Wrapper for main content, has scrollover effect */
.content-wrapper {
	position: absolute;
	top: 50%;
	width: 100%;
	min-height: 12%;
	z-index: 2;
	background: rgb(243,243,243);
}

/* 6.2 is calculated by the aspect ratio of the hill */
.hill {
	margin: 0;
	padding: 0;
	margin-bottom: -6.15vw;

	-webkit-transform: translateY(-6.15vw);
	-ms-transform: translateY(-6.15vw);
	transform: translateY(-6.15vw);
}

/*////////////////////////////////////////////
//                                          //
//              Header/Navbar               //
//                                          //
////////////////////////////////////////////*/

.navbar-wrapper {
	background-color: transparent;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	width: 100%;

	transition: all 0.5s;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* 35em is more than ever necessary, but content will only fill as necessary. This allows us to use the animation */
.navbar-wrapper.open {
	background-color: rgb(20, 54, 70);
	max-height: 35em;
	padding-bottom: 1em;
}

/* Mobile menu fix */
.ieee-menu-item {
	height: auto;
}

.navbar-menu {
	padding: 0 1vh;
	width: 100%;
	text-align: right;
}

/* ----------->>> Hamburger Icon <<<------------*/

/* Total navbar-wrapper height is 4rem */
.navbar-toggle {
	width: 3rem;
	position: absolute;
	height: 1.175rem; /* Based on below values of the icon */
	top: 1.8125rem;
	right: 1rem;

	/* By default on desktop, don't display it */
	display: none;

	/* This disables that annoying fill on mobile links */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  	-webkit-tap-highlight-color: transparent;
}

/* Animated toggle icon */
.toggle-icon {
	cursor: pointer;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: inherit;
	background-color: rgb(255,116,0);
	border-radius: 3rem;
	height: .375rem;
	width: 3rem;
}

.toggle-icon:before,
.toggle-icon:after {
	border-radius: 3rem;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: rgb(255,116,0);
	position: absolute;
	display: block;
	content: '';
}
.toggle-icon:before {
	top: -.8rem;
}
.toggle-icon:after {
	top: .8rem;
}

.toggle-icon,
.toggle-icon:before,
.toggle-icon:after {
	transition: all 0.5s;
}

.navbar-toggle.x .toggle-icon {
	background-color: transparent;
	-webkit-transform: rotate(45deg) translate(0%, -50%);
	-ms-transform: rotate(45deg) translate(0%, -50%);
	transform: rotate(45deg) translate(0%, -50%);
}

.navbar-toggle.x .toggle-icon:before {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	top: 0;
}

.navbar-toggle.x .toggle-icon:after {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	top: 0;
}

.logo {
	max-height: 4rem;

	transition: all 0.5s;
}

.small-logo {
	max-height: 3rem;
}

.solid-nav {
	background-color: rgb(20, 54, 70);
}

.navbar-link {
	font-size: 1.5em;
	color: rgb(243, 243, 243);
}

.navbar-link:hover,
.navbar-link:focus {
	background-color: rgba(255,116,0,0.3)!important;
}

.navbar-link-active{
	color: rgb(255,116,0);
}

.navbar-active {
	border: 0;
	color: rgb(255,116,0);
	background-color: rgb(255,116,0)!important;
	height: 0.5vh;
	text-align: center;
	margin: 0 auto;
	display: none; /*hiding hr for now*/
}

.flex-nav {
	display: -ms-inline-flexbox;
	display: -moz-inline-flex;
	display: -webkit-inline-flex;
	display: inline-flex;

	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
  	align-items: center;
}

/*////////////////////////////////////////////
//                                          //
//                  Footer                  //
//                                          //
////////////////////////////////////////////*/

footer {
	background-color: rgb(20, 54, 70);
	color: rgb(243,243,243);

	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
  	align-items: center;
}

//turn orange on hover
/*img.pure-img.footer-logo:hover{
	background-color: rgb(255, 116, 0)!important;
	display: block;
}

.footer-content: hover{
	background-color: rgb(255, 116, 0)!important;
}

.footer-logo:hover{
	background-color: rgb(255, 116, 0)!important;}
*/

.footer-content {
	padding: 0.75rem;
	text-align: center;
}


.footer-content > * {
	margin: auto;
	padding: 0;
}

.footer-logo {
	height: 48px;
	margin: auto;
}

/*////////////////////////////////////////////
//                                          //
//               Page Specific              //
//                                          //
////////////////////////////////////////////*/

/* ----------->>> Exec Board <<<------------*/

.headshot {
	width: 75%;
	max-width: 15em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
}

#twitter-wrapper iframe
{
	pointer-events: none;
	overflow: scroll;
	width: 100%!important;
}

/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: #F17563;
    font-family: Open Sans;
    font-size: 50px;
  	color: #222;
}

label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

    .card div {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #FFF;
        text-align: center;
        line-height: 200px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    .card .back {
        background: #222;
        color: #FFF;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }

label:hover .card {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

input {
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

label:hover :checked + .card {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
}*/

/* ----------->>> News <<<------------*/

.news-title {
	text-decoration: underline;
	padding-top: 0;
}

/* Calendar stuff */

/* On desktop/tablet, show month view */
@media (min-width: 48em) {
	.mobileCalendar {
		display: none;
	}
}

/* On phone, show agenda view */
/* On desktop/tablet, show month view */
@media (max-width: 47.999em) {
	.desktopCalendar {
		display: block;
	}
}

/* ----------->>> Contact Us <<<------------*/

#left {
	width: 50%;
	text-align: center;
	float:left;
}

#right{
	width: 50%;
	text-align: center;
	float:right;
}



/* ----------->>> Spark <<<------------*/

#spark-viewer object {
	width: 100%;
	height: 100vh;
}

/* ----------->>> Join <<<------------*/
#join_results {
	display: none;
}

.pure-control-group {
	display: flex;
	align-items: center;
	justify-content: center;
}
.resume-input{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 25%
}

/*////////////////////////////////////////////
//                                          //
//               Media Queries              //
//                                          //
////////////////////////////////////////////*/

/*
Note that I'm applying custom styles to mobile, meaning
the default for me is Tablet/Desktop. This is in contrast to
the PureCSS framework being mobile-first. In future changes,
you are welcome to flip this around to make it consistent.
*/

/* Tablet/Desktop Specific */
/* Note that this corresponds with pure-u-md */
@media (min-width: 48em) {
	/*Force the file input to fit on desktops */
	input[type="file"] {
		width: 50%;
	}

	.navbar-link {
		padding: 1vw 0.65vw;
		line-height: 1;
	}

	.pure-offset-1-4 {
		margin-left: 25%;
	}

	.pure-offset-1-8 {
/* 		margin-left: 12.5%; */
	}

	/* On desktop, the footer content should be aligned nicely */
	/* This is assuming we have a three section setup */
	.footer-content:nth-child(1) {
		text-align: left;
	}

	.footer-content:nth-child(2) {
		text-align: center;
	}

	.footer-content:nth-child(3) {
		text-align: right;
	}

}

/* Since our navbar now has so many options I'm changing the media query to 1024px for the toggle to show up */

/* Mobile Specific */
@media (max-width: 47.999em) {

	/* Make fonts smaller on mobile
	/* h1 is to be used for the title of the page */
	h1 {
		font-size: 3.5rem;
	}

	/* h2 is to be used for sub-headings */
	h2 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	h4 {
		font-size: 1.25rem;
	}

	.navbar-wrapper {
		max-height: 4rem;
	}

	.navbar-toggle {
		display: inline;
	}

	.navbar-link {
		padding: 1vh;
		line-height: 1.25;
	}

	.navbar-menu {
		text-align: left;
	}

	.logo {
		max-height: 3rem;
	}

	.splash-head
	{
		width: 95%;
	}

	.footer-logo {
		height: 32px;
	}

	input[type="text"] {
		width: 100%;
	}

}

/* 10inch tablet portrait Specific */
@media (min-width: 48em) and (orientation: portrait) {
	.navbar-wrapper {
		max-height: 4rem;
	}

	.navbar-toggle {
		display: inline;
	}

	.navbar-link {
		padding: 1vh;
		line-height: 1.25;
	}

	.logo {
		max-height: 3rem;
	}

	.splash-head
	{
		width: 95%;
	}

	input[type="text"] {
		width: 100%;
	}

	.flex-nav {
		position: relative;
	}

	.navbar-menu {
		text-align: left;
	}
}
