/*
* This CSS file is for styling specific to IEEE UIUC's
* website at ieee.illinois.edu.
*
* Authors: Anit Gandhi, Caleb Albers
* Last Modified: April 19, 2015
*/

/*////////////////////////////////////////////
//                                          //
//                  Global                  //
//                                          //
////////////////////////////////////////////*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #f3f3f3;
	color: rgb(68, 85, 92);
}

section .pure-g > div {
	padding: 2vh 3vw;
}

/* ------------->>> Scrollbar <<<--------------*/

::-webkit-scrollbar
{
	width: 12px;
	height: 12px;
	background:transparent;
}

::-webkit-scrollbar-track
{
	background: rgb(243,243,243);
}

::-webkit-scrollbar-thumb
{
	background: rgb(255, 116, 0);
}

/* ----------->>> Text Decoration <<<------------*/

/* The entire website should have the Open Sans font, but fall back to just sans-serif. */

* {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

/* Text Selection should be orange */
::-moz-selection {
	background: #ff7400; /* Gecko Browsers */
	color: #F3F3F3;
}
::selection {
	background: #ff7400; /* WebKit/Blink Browsers */
	color: #F3F3F3;
}

/* ----------->>> Text Sizes <<<------------*/

/* h1 is to be used for the title of the page */
h1 {
	color: #f3f3f3;
	font-size: 7rem;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* h2 is to be used for sub-headings */
h2 {
	font-size: 4rem;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	text-align: center;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

h2, h3, h4, p {
	margin: 0;
}

h3, h4, p {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

a {
	color: rgb(255, 116, 0);
}

.left-align	{
	text-align: left;
}

.center-align {
	text-align: center;
}

.right-align {
	text-align: right;
}

.orange-text {
	color: rgb(255, 116, 0);
}

.grey-text {
	color:rgb(68, 85, 92);
}

/* ----------->>> Highlight Section <<<------------*/

.highlight {
	background-color: #44555c;
	color: #f3f3f3;
}

/* ----------->>> Buttons <<<------------*/

/* Custom button styles that override PureCSS styles */
.pure-button {
	background-color: rgb(255, 116, 0);
	color: rgb(243,243,243);
	padding: 0.5em 2em;
	border-radius: 5px;
	margin: 0.5em;
	text-align: center;
	width: 90%;
}

.pure-button-md {
	font-size: 1.25em;
}

.pure-button-lg {
	font-size: 2.5em;
}

/* ----------->>> Padding Boxes <<<------------*/

.l-box {
	padding: 1em;
}

.l-box-lrg {
    padding: 2em;
}

/*////////////////////////////////////////////
//                                          //
//                Page Layout               //
//                                          //
////////////////////////////////////////////*/

/* ----------->>> Main Image and Page Title <<<------------*/

/* Splash Image wrapper for scrollover effect */
.splash-wrapper {
	z-index: 1;
	overflow: hidden;

	width: 100%;
	height: 50%;
	top: 0;
	left: 0;
	position: fixed !important;

	/* Blue filter over image */
	/* default image is of eceb-1 */
	background-image:linear-gradient(
		rgba(20, 54, 70, 0.60),
		rgba(20, 54, 70, 0.60)
	),url('/assets/img/splash/eceb-1.jpg');
	background-repeat: no-repeat;
	background-position: center center, center center;
	background-size: cover, cover;
}

.splash-eceb-1
{
	background-image:linear-gradient(
		rgba(20, 54, 70, 0.60),
		rgba(20, 54, 70, 0.60)
	),url('/assets/img/splash/eceb-1.jpg');
}

.splash-grainger
{
	background-image:linear-gradient(
		rgba(20, 54, 70, 0.60),
		rgba(20, 54, 70, 0.60)
	),url('/assets/img/splash/grainger.jpg');
}

.splash {
	/* absolute center .splash within .splash-wrapper */
	width: 100%;

	/* attempt at vertical center */
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);

	/*
	height: 50%;
	margin: auto;
	position: absolute;
	top: 100px;
	*/

	left: 0;
	right: 0;
	text-align: center;
}

/* News Slider */
.splash-head {
	margin: auto;
	width: 50%;
	color: rgb(243, 243, 243);
	border: 2px solid rgb(243, 243, 243);
	border-radius: 10px;
	height: 50vh;
	background-color: transparent;
	overflow: hidden;
}

/* Make the flex slider buttons more visible */
.flex-direction-nav a:before,
.flex-direction-nav a.flex-prev:before,
.flex-direction-nav a,
.flex-control-paging li a, 
.flex-control-paging li a.flex-active {
	z-index: 5000;
	color: rgb(243,243,243);
}

/* ----------->>> Main Content <<<------------*/

/* Wrapper for main content, has scrollover effect */
.content-wrapper {
	position: absolute;
	top: 50%;
	width: 100%;
	min-height: 12%;
	z-index: 2;
	background: rgb(243,243,243);
	/*overflow-x: hidden;*/
}

/* 6.2 is calculated by the aspect ratio of the hill */
.hill {
	margin: 0;
	padding: 0;
	margin-bottom: -6.15vw;

	-webkit-transform: translateY(-6.15vw);
	-moz-transform: translateY(-6.15vw);
	-ms-transform: translateY(-6.15vw);
	transform: translateY(-6.15vw);
}

/* lightbulb img version
.footer-ribbon {
		background:url('/assets/img/footer.png'), rgb(68, 85, 92);
		background-repeat: no-repeat;
		background-position: 40% center, center center;
		background-size: contain, cover;
}
*/

/*////////////////////////////////////////////
//                                          //
//              Header/Navbar               //
//                                          //
////////////////////////////////////////////*/

.navbar-wrapper {
	background-color: transparent;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	width: 100%;

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* 35em is more than ever necessary, but content will only fill as necessary. This allows us to use the animation */
.navbar-wrapper.open {
	background-color: rgb(20, 54, 70);
	max-height: 35em;
}

/* Mobile menu fix */
.ieee-menu-item {
	height: auto;
}

.navbar-menu {
	padding: 0 1vh;
	width: 100%;

	/* Match the transform animation with the rest */
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;

	text-align: right;
}

/* ----------->>> Hamburger Icon <<<------------*/
/* Since navbar-wrapper height is 4em, and this height is 2em, the top offset should be 1em */
.navbar-toggle {
	width: 3em;
	position: absolute;
	height: 2em;
	top: 1em;
	right: 1em;
	display: none;
	/* This disables that annoying fill on mobile links */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  	-webkit-tap-highlight-color: transparent;
}

.navbar-toggle .bar {
	background-color: rgb(255,116,0);
	display: block;
	width: 3em;
	height: 6px;
	border-radius: 3em;
	position: absolute;

	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

/* Move 2nd bar down 13px */
.navbar-toggle .bar:nth-child(2) {
	top: 13px;
}

/* Move 3rd bar down 26 px */
.navbar-toggle .bar:nth-child(3) {
	top: 26px;
}

.navbar-toggle.x .bar:nth-child(1) {
	top: 13px;
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.navbar-toggle.x .bar:nth-child(2) {
	opacity: 0;
}

.navbar-toggle.x .bar:nth-child(3) {
	top: 13px;
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.logo {
	max-height: 4rem;

	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.small-logo {
	max-height: 3rem;
}

.solid-nav {
	background-color: rgb(20, 54, 70);
}

.navbar-link {
	font-size: 1.5em;
	color: rgb(243, 243, 243);
}

.navbar-link:hover,
.navbar-link:focus {
	background-color: rgba(255,116,0,0.3)!important;
}

.navbar-link-active{
	color: rgb(255,116,0);
}

.navbar-active {
	border: 0;
	color: rgb(255,116,0);
	background-color: rgb(255,116,0)!important;
	height: 0.5vh;
	text-align: center;
	margin: 0 auto;
	display: none; /*hiding hr for now*/
}

.flex-nav {
	display: -ms-inline-flexbox;
	display: -moz-inline-flex;
	display: -webkit-inline-flex;
	display: inline-flex;

	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
  	align-items: center;
}

/*////////////////////////////////////////////
//                                          //
//                  Footer                  //
//                                          //
////////////////////////////////////////////*/

footer {
	background-color: rgb(20, 54, 70);
	color: #f3f3f3;

	/* Firefox vertical align fix since PureCSS grids are not flex boxes on Firefox */
	/*display: flex;*/

	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
  	align-items: center;
}

.footer-content {
	padding: 0.75rem;
	text-align: center;
}

.footer-content > * {
	margin: auto;
	padding: 0;
}

.footer-logo {
	height: 48px;
	margin: auto;
}

/*////////////////////////////////////////////
//                                          //
//               Page Specific              //
//                                          //
////////////////////////////////////////////*/

/* ----------->>> Exec Board <<<------------*/

.headshot {
	width: 75%;
	max-width: 15em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
}

#twitter-wrapper iframe
{
	pointer-events: none;
	overflow: scroll;
	width: 100%!important;
}

/* ----------->>> News <<<------------*/

.news-title {
	text-decoration: underline;
	padding-top: 0;
}

/* ----------->>> Spark <<<------------*/

#spark-viewer object {
	width: 100%;
	height: 100vh;
}

/*////////////////////////////////////////////
//                                          //
//               Media Queries              //
//                                          //
////////////////////////////////////////////*/

/*
Note that I'm applying custom styles to mobile, meaning
the default for me is Tablet/Desktop. This is in contrast to
the PureCSS framework being mobile-first. In future changes,
you are welcome to flip this around to make it consistent.
*/

/* Tablet/Desktop Specific */
@media (min-width: 48em)
{
	/*Force the file input to fit on desktops */
	input[type="file"] {
		width: 50%;
	}

	.navbar-link {
		padding: 1vw 0.65vw;
	}

	.flex-nav {
		/* stretch to fill height to fix on firefox */
		position: absolute;
		top: 0;
		bottom: 0;
	}

	.pure-offset-1-4 {
		margin-left: 25%;
	}

	.pure-offset-1-8 {
		margin-left: 12.5%;
	}

	/* On desktop, the footer content should be aligned nicely */
	/* This is assuming we have a three section setup */
	.footer-content:nth-child(1) {
		text-align: left;
	}

	.footer-content:nth-child(2) {
		text-align: center;
	}

	.footer-content:nth-child(3) {
		text-align: right;
	}

	/* Specific fix for Firefox mobile not working well with flex and PureCSS not including Firefox flex support. Chrome and IE are already included in this. */
	footer {
		display: flex;
	}

}

/* Since our navbar now has so many options I'm changing the media query to 1024px for the toggle to show up */

/* Mobile Specific */
@media (max-width: 47.999em)
{

	/* Make fonts smaller on mobile
	/* h1 is to be used for the title of the page */
	h1 {
		font-size: 3.5em;
	}

	/* h2 is to be used for sub-headings */
	h2 {
		font-size: 2.5em;
	}

	h3 {
		font-size: 1.5em;
	}

	h4 {
		font-size: 1.25em;
	}

	p, a, ul, li {
		font-size: 1em;
	}

	.navbar-wrapper {
		max-height: 4em;
	}

	.navbar-toggle {
		display: inline;
	}

	.navbar-link {
		padding: 1vh;
	}

	.navbar-menu {
		text-align: left;

		-o-transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		transform: none;
	}

	.logo {
		max-height: 3rem;
	}

	.pure-hidden {
		display: none;
	}

	.splash-head 
	{
		width: 95%;
	}

	.footer-logo {
		height: 32px;
	}

	input[type="text"] {
		width: 100%;
	}

}

/* special fix for firefox mobile being dumb with flex box */